<div class="container">
	<button type="submit" class="btn btn-primary btn-lg" ng-click="onDataOverviewClick()">Data Overview</button>
	<button type="submit" class="btn btn-primary btn-lg" ng-click="onSummaryStatsClick()">Summary Statistics</button>
	<button type="submit" class="btn btn-primary btn-lg" ng-click="onCorrelationPlotsClick()">Correlation Plots</button>
	<br/>
	<br/>

	<div ng-show="showDataOverview">
		<div><pre>{{dataModel | json}}</pre></div>
		<br/>
		<div>Number of documents: <span ng-bind="totalNumDocuments"></span></div>
		<div>Size: 3.6 MB</div>
	</div>

	<div ng-show="showSummaryStats">

		Select Feature: <select ng-model="featureSelection" ng-options="entry for entry in featureSelections" ng-change="onFeatureSelectionChange()"></select>
		<br/>
		<br/>
		<p>Minimum: <span ng-bind="minimumFeatureVal"></span>&nbsp;<span ng-bind="summaryStatUnit"></span></p>
		<p>Maximum: <span ng-bind="maximumFeatureVal"></span>&nbsp;<span ng-bind="summaryStatUnit"></span></p>
		<p>Average: <span ng-bind="averageFeatureVal"></span>&nbsp;<span ng-bind="summaryStatUnit"></span></p>
		<p>Number of Nulls: <span ng-bind="numNullsFeatureVal"></span></p>
	</div>

	<div ng-show="showCorrelationPlots">
		X Axis Data: <select ng-model="xAxisSelection" ng-options="entry for entry in axisSelections"></select>
		Y Axis Data: <select ng-model="yAxisSelection" ng-options="entry for entry in axisSelections"></select>
		<button type="submit" class="btn" ng-click="onShowPlotClick()">Show Plot</button>

		<div id="scatterchartcontainer">
			<!-- the chart will go here -->
        </div>

	</div>

</div>